body {
    background-color: #222;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background-color: #111;
}

.card {
    background-color: #333;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.card-header {
    background-color: #555;
    border: none;
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 20px;
}

.form-control {
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.navbar-brand {
    margin-left: 10px; /* Untuk memberikan jarak kiri */
    margin-right: 10px; /* Untuk memberikan jarak kanan */
}

/* CSS untuk tombol "Login" */
.btn-login {
    margin-top: 10px; /* Jarak dari atas */
    padding: 10px 20px; /* Padding di atas dan bawah, serta kiri dan kanan */
}

/* CSS untuk tombol "Register" */
.btn-register {
    margin-top: 10px; /* Jarak dari atas */
    padding: 10px 20px; /* Padding di atas dan bawah, serta kiri dan kanan */
}

/* CSS untuk pesan "Jika Anda tidak punya akun, silakan daftar" */
.message {
    color: #777;
    margin-top: 10px;
    text-align: center;
    display: flex; /* Menggunakan flexbox */
    align-items: center; /* Jajar elemen vertikal ke tengah */
    justify-content: center; /* Jajar elemen horizontal ke tengah */
}

.message a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 25px;
    margin-left: 5px;
}

.message a:hover {
    text-decoration: underline;
}
